@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

html {
    height: 100%;
    width: 100%;
}

body {
    height:100%;
    width:100%;
    position: relative;
    min-height:100%;
    overflow:hidden;
    background-color:#00BFFF;
}

p {
    color:white;
}