@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

html {
    height: 100%;
    width: 100%;
}

body {
    height:100%;
    width:100%;
    position: relative;
    min-height:100%;
    overflow:hidden;
    background-color:#00BFFF;

}

.main {
    height:100px;
    width:400px;
    background-color:white;
    border-radius:25px;
    border: 2px solid;
    text-align:center;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-50px;
}

p {
    color:black;
}