@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

html {
    height: 100%;
    width: 100%;
}

body {
    height:100%;
    width:100%;
    position: relative;
    min-height:100%;
    overflow:hidden;
    background-color:#00BFFF;

}

.main {
    height:450px;
    width:600px;
    background-color:white;
    border-radius:25px;
    border: 2px solid;
    text-align:center;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-300px;
    margin-top:-225px;
}

p {
    font-family:Lato;
    color:black;
    font-weight:bold;
    font-size:40px;
    margin-bottom:10px;
}

.bottom {
    position:absolute;
    bottom:18px;
    left:257px;
    text-align:center;
}

.bottom input {
    margin-bottom:4px;
}

a:link {
    font-family:Lato;
    text-decoration:none;
    font-weight:300;
    font-size:25px;
    margin:10px;
    margin-top:-100px;
    color: blue;
}

a:visited {
   color:blue;
}

a:hover {
   color:grey;
}

label {
    font-family:Lato;
    color:black;
    font-size:18px;
    margin-bottom:5px;
    padding:0;
    width:155px;
    float:left;
    clear:left;
}

.inputs input, select {  
    margin-top:5px;
    padding:0;
    float:left;
}

label, input, select {
    display:inline;
    vertical-align:baseline;
}

.inputs {
    position:relative;
    text-align:left;
    left:160px;
}